L10U1/ClientApplikation/Service References/ServiceReference1/L10U1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/L10U1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/L10U1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyCalculator">
    <xs:sequence>
      <xs:element minOccurs="0" name="param1" type="xs:float" />
      <xs:element minOccurs="0" name="param2" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyCalculator" nillable="true" type="tns:MyCalculator" />
</xs:schema>